#message, #redirect_message{
	color:red;
}

#header {
	color:purple;
	position:relative;
	top: 50%;
}

body{
	background-color:black;
}

body{
	width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  border: solid black;
}