#header {
	color:purple;
	position:relative;
	top: 50%;
}

body{
	background-color:black;
}

.logoutLblPos{

   position:fixed;
   right:10px;
   top:5px;
}

#username {
	color:red;
}