#header {
	color: purple;
	position: relative;
	top: 50%;
}

body {
	background-color: black;
}

#logout {
	text-align: right;
	right: 20px;
	top: 5px;
}

#username, #image {
	color: red;
}